name: Idealista Deployment

on:
  push:
    branches:
      - main


jobs:
  deploy-stack:
    name: Deploy Stack
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies

        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install aws-cdk-lib constructs

      - name: Create lambda layer
        run: |
          rm -rf layer
          mkdir -p layer/python/lib/python3.12/site-packages/
          pip install -r src/requirements.txt -t layer/python/lib/python3.12/site-packages/
          
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-central-1

      - name: Install AWS CDK
        run: npm install -g aws-cdk
        
      - name: CDK Deploy
        run: |
          cdk synth
          cdk deploy --require-approval=never
